DaniellePrac3Demo/Saved/SourceControl/UncontrolledChangelists.json
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.09.11-19.30.08.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.09.09-21.00.47.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.09.09-02.39.12.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.09.08-04.27.58.log
DaniellePrac3Demo/Saved/Config/WorldState/3809558563.json
DaniellePrac3Demo/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-FFE72C5E454C7A06782802A6815741CE/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-27D0703847262E6B1E6CB3A8B6EA24BC/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-263DD2C94421A3E703AD8793D6960B4D/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-013B315B4D76EDE651AD1FAEA3FB0743/CrashReportClient.ini
DaniellePrac3Demo/Saved/AutoScreenshot.png
DaniellePrac3Demo/Saved/Autosaves/Game/Overview_Level_Auto7.umap
DaniellePrac3Demo/Saved/Autosaves/Game/Overview_Level_Auto6.umap
DaniellePrac3Demo/Saved/Autosaves/Game/Overview_Level_Auto5.umap
DaniellePrac3Demo/Saved/Autosaves/Game/Overview_Level_Auto4.umap
DaniellePrac3Demo/Saved/Autosaves/Game/Overview_Level_Auto3.umap
DaniellePrac3Demo/Saved/Autosaves/Game/Overview_Level_Auto1.umap
DaniellePrac3Demo/Saved/Autosaves/Game/Overview_Level_Auto0.umap

DaniellePrac3Demo/Saved/Autosaves/Game/Models/Fence/Fence_Textures/T_Sm_Fence_D_sRGB_ACEScg_png_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Green_switch/T_Sm_Switch_D_sRGB_ACEScg_png_Auto2.uasset
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo.log
DaniellePrac3Demo/Saved/AutoScreenshot.png
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo.log
DaniellePrac3Demo/Saved/Autosaves/Game/Demo_Level_Auto3.umap
DaniellePrac3Demo/Saved/Autosaves/Game/Demo_Level_Auto4.umap
DaniellePrac3Demo/Saved/Autosaves/Game/Overview_Level_Auto2.umap
DaniellePrac3Demo/Saved/SourceControl/UncontrolledChangelists.json
DaniellePrac3Demo/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.19-23.16.10.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.20-01.58.00.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.20-02.54.21.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.20-02.56.56.log
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/SM_LightSwitch_Auto1.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/M_LightSwitch_Green_Auto1.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/M_LightSwitch_Purple_Auto1.uasset
DaniellePrac3Demo/Saved/Crashes/UECC-Windows-F146349242C1E72EDA486FAE7CB7461B_0000/UEMinidump.dmp
DaniellePrac3Demo/Saved/Crashes/UECC-Windows-F146349242C1E72EDA486FAE7CB7461B_0000/CrashReportClient.ini
DaniellePrac3Demo/Saved/Crashes/UECC-Windows-F146349242C1E72EDA486FAE7CB7461B_0000/DaniellePrac3Demo.log
DaniellePrac3Demo/Saved/Crashes/UECC-Windows-F146349242C1E72EDA486FAE7CB7461B_0000/CrashContext.runtime-xml
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-44BA73E347959EF6A1A636BEE4B1918D/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-7167FA22448F323BDB7869B2F5F79BCC/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-786740E746E6B955EFCB9492E88FB12A/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-F146349242C1E72EDA486FAE7CB7461B/CrashReportClient.ini
DaniellePrac3Demo/Saved/AutoScreenshot.png
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo.log
DaniellePrac3Demo/Saved/Autosaves/Game/Demo_Level_Auto3.umap
DaniellePrac3Demo/Saved/Autosaves/Game/Demo_Level_Auto4.umap
DaniellePrac3Demo/Saved/Autosaves/Game/Overview_Level_Auto2.umap
DaniellePrac3Demo/Saved/SourceControl/UncontrolledChangelists.json
DaniellePrac3Demo/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.19-23.16.10.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.20-01.58.00.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.20-02.54.21.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.20-02.56.56.log
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/SM_LightSwitch_Auto1.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/M_LightSwitch_Green_Auto1.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/M_LightSwitch_Purple_Auto1.uasset
DaniellePrac3Demo/Saved/Crashes/UECC-Windows-F146349242C1E72EDA486FAE7CB7461B_0000/UEMinidump.dmp
DaniellePrac3Demo/Saved/Crashes/UECC-Windows-F146349242C1E72EDA486FAE7CB7461B_0000/CrashReportClient.ini
DaniellePrac3Demo/Saved/Crashes/UECC-Windows-F146349242C1E72EDA486FAE7CB7461B_0000/DaniellePrac3Demo.log
DaniellePrac3Demo/Saved/Crashes/UECC-Windows-F146349242C1E72EDA486FAE7CB7461B_0000/CrashContext.runtime-xml
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-44BA73E347959EF6A1A636BEE4B1918D/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-7167FA22448F323BDB7869B2F5F79BCC/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-786740E746E6B955EFCB9492E88FB12A/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-F146349242C1E72EDA486FAE7CB7461B/CrashReportClient.ini
DaniellePrac3Demo/Saved/AutoScreenshot.png
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo.log
DaniellePrac3Demo/Saved/Autosaves/Game/Demo_Level_Auto3.umap
DaniellePrac3Demo/Saved/Autosaves/Game/Demo_Level_Auto4.umap
DaniellePrac3Demo/Saved/Autosaves/Game/Overview_Level_Auto2.umap
DaniellePrac3Demo/Saved/SourceControl/UncontrolledChangelists.json
DaniellePrac3Demo/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.19-23.16.10.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.20-01.58.00.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.20-02.54.21.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.20-02.56.56.log
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/SM_LightSwitch_Auto1.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/M_LightSwitch_Green_Auto1.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/M_LightSwitch_Purple_Auto1.uasset
DaniellePrac3Demo/Saved/Crashes/UECC-Windows-F146349242C1E72EDA486FAE7CB7461B_0000/UEMinidump.dmp
DaniellePrac3Demo/Saved/Crashes/UECC-Windows-F146349242C1E72EDA486FAE7CB7461B_0000/CrashReportClient.ini
DaniellePrac3Demo/Saved/Crashes/UECC-Windows-F146349242C1E72EDA486FAE7CB7461B_0000/DaniellePrac3Demo.log
DaniellePrac3Demo/Saved/Crashes/UECC-Windows-F146349242C1E72EDA486FAE7CB7461B_0000/CrashContext.runtime-xml
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-44BA73E347959EF6A1A636BEE4B1918D/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-7167FA22448F323BDB7869B2F5F79BCC/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-786740E746E6B955EFCB9492E88FB12A/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-F146349242C1E72EDA486FAE7CB7461B/CrashReportClient.ini
DaniellePrac3Demo/Saved/AutoScreenshot.png
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo.log
DaniellePrac3Demo/Saved/Autosaves/Game/Demo_Level_Auto3.umap
DaniellePrac3Demo/Saved/Autosaves/Game/Demo_Level_Auto4.umap
DaniellePrac3Demo/Saved/Autosaves/Game/Overview_Level_Auto2.umap
DaniellePrac3Demo/Saved/SourceControl/UncontrolledChangelists.json
DaniellePrac3Demo/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.19-23.16.10.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.20-01.58.00.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.20-02.54.21.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.20-02.56.56.log
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/SM_LightSwitch_Auto1.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/M_LightSwitch_Green_Auto1.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/M_LightSwitch_Purple_Auto1.uasset
DaniellePrac3Demo/Saved/Crashes/UECC-Windows-F146349242C1E72EDA486FAE7CB7461B_0000/UEMinidump.dmp
DaniellePrac3Demo/Saved/Crashes/UECC-Windows-F146349242C1E72EDA486FAE7CB7461B_0000/CrashReportClient.ini
DaniellePrac3Demo/Saved/Crashes/UECC-Windows-F146349242C1E72EDA486FAE7CB7461B_0000/DaniellePrac3Demo.log
DaniellePrac3Demo/Saved/Crashes/UECC-Windows-F146349242C1E72EDA486FAE7CB7461B_0000/CrashContext.runtime-xml
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-44BA73E347959EF6A1A636BEE4B1918D/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-7167FA22448F323BDB7869B2F5F79BCC/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-786740E746E6B955EFCB9492E88FB12A/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-F146349242C1E72EDA486FAE7CB7461B/CrashReportClient.ini
DaniellePrac3Demo/Saved/Autosaves/Game/Demo_Level_Auto3.umap
DaniellePrac3Demo/Saved/Autosaves/Game/Demo_Level_Auto4.umap
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/M_LightSwitch_Green_Auto1.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/M_LightSwitch_Purple_Auto1.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/SM_LightSwitch_Auto1.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Overview_Level_Auto2.umap
DaniellePrac3Demo/Saved/AutoScreenshot.png
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-44BA73E347959EF6A1A636BEE4B1918D/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-7167FA22448F323BDB7869B2F5F79BCC/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-786740E746E6B955EFCB9492E88FB12A/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-F146349242C1E72EDA486FAE7CB7461B/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
DaniellePrac3Demo/Saved/Crashes/UECC-Windows-F146349242C1E72EDA486FAE7CB7461B_0000/CrashContext.runtime-xml
DaniellePrac3Demo/Saved/Crashes/UECC-Windows-F146349242C1E72EDA486FAE7CB7461B_0000/CrashReportClient.ini
DaniellePrac3Demo/Saved/Crashes/UECC-Windows-F146349242C1E72EDA486FAE7CB7461B_0000/DaniellePrac3Demo.log
DaniellePrac3Demo/Saved/Crashes/UECC-Windows-F146349242C1E72EDA486FAE7CB7461B_0000/UEMinidump.dmp
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.19-23.16.10.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.20-01.58.00.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.20-02.54.21.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.20-02.56.56.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo.log
DaniellePrac3Demo/Saved/SourceControl/UncontrolledChangelists.json
DaniellePrac3Demo/Saved/Autosaves/Game/Demo_Level_Auto3.umap
DaniellePrac3Demo/Saved/Autosaves/Game/Demo_Level_Auto4.umap
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/M_LightSwitch_Green_Auto1.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/M_LightSwitch_Purple_Auto1.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/SM_LightSwitch_Auto1.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Overview_Level_Auto2.umap
DaniellePrac3Demo/Saved/AutoScreenshot.png
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-44BA73E347959EF6A1A636BEE4B1918D/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-7167FA22448F323BDB7869B2F5F79BCC/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-786740E746E6B955EFCB9492E88FB12A/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-F146349242C1E72EDA486FAE7CB7461B/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
DaniellePrac3Demo/Saved/Crashes/UECC-Windows-F146349242C1E72EDA486FAE7CB7461B_0000/CrashContext.runtime-xml
DaniellePrac3Demo/Saved/Crashes/UECC-Windows-F146349242C1E72EDA486FAE7CB7461B_0000/CrashReportClient.ini
DaniellePrac3Demo/Saved/Crashes/UECC-Windows-F146349242C1E72EDA486FAE7CB7461B_0000/DaniellePrac3Demo.log
DaniellePrac3Demo/Saved/Crashes/UECC-Windows-F146349242C1E72EDA486FAE7CB7461B_0000/UEMinidump.dmp
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.19-23.16.10.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.20-01.58.00.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.20-02.54.21.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.20-02.56.56.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo.log
DaniellePrac3Demo/Saved/SourceControl/UncontrolledChangelists.json
DaniellePrac3Demo/Saved/Autosaves/Game/Overview_Level_Auto2.umap
/DaniellePrac3Demo/Saved
DaniellePrac3Demo/Saved/AutoScreenshot.png
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo.log
DaniellePrac3Demo/Saved/Autosaves/Game/Overview_Level_Auto2.umap
DaniellePrac3Demo/Saved/SourceControl/UncontrolledChangelists.json
DaniellePrac3Demo/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.19-00.51.12.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.19-23.16.10.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.20-01.58.00.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.20-02.54.21.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.20-02.56.56.log
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-44BA73E347959EF6A1A636BEE4B1918D/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-7167FA22448F323BDB7869B2F5F79BCC/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-786740E746E6B955EFCB9492E88FB12A/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-CA9866004002CE0B794134A0DF915FAD/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-F146349242C1E72EDA486FAE7CB7461B/CrashReportClient.ini
DaniellePrac3Demo/Content/Models/Covered_Trash_Can/SM_CoveredTrashcan_standardSurface1_Normal.uasset
DaniellePrac3Demo/Content/Models/Covered_Trash_Can/SM_CoveredTrashcan_standardSurface1_BaseColor.uasset
DaniellePrac3Demo/Content/Models/Covered_Trash_Can/SM_CoveredTrashcan_standardSurface1_OcclusionRoughnessMetallic.uasset
DaniellePrac3Demo/Saved/AutoScreenshot.png
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo.log
DaniellePrac3Demo/Saved/Autosaves/Game/Overview_Level_Auto2.umap
DaniellePrac3Demo/Saved/SourceControl/UncontrolledChangelists.json
DaniellePrac3Demo/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.19-00.51.12.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.19-23.16.10.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.20-01.58.00.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.20-02.54.21.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.20-02.56.56.log
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-44BA73E347959EF6A1A636BEE4B1918D/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-7167FA22448F323BDB7869B2F5F79BCC/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-786740E746E6B955EFCB9492E88FB12A/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-CA9866004002CE0B794134A0DF915FAD/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-F146349242C1E72EDA486FAE7CB7461B/CrashReportClient.ini
DaniellePrac3Demo/Content/Models/Covered_Trash_Can/SM_CoveredTrashcan_standardSurface1_Normal.uasset
DaniellePrac3Demo/Content/Models/Covered_Trash_Can/SM_CoveredTrashcan_standardSurface1_BaseColor.uasset
DaniellePrac3Demo/Content/Models/Covered_Trash_Can/SM_CoveredTrashcan_standardSurface1_OcclusionRoughnessMetallic.uasset
DaniellePrac3Demo/Saved/AutoScreenshot.png
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo.log
DaniellePrac3Demo/Saved/Autosaves/Game/Overview_Level_Auto2.umap
DaniellePrac3Demo/Saved/SourceControl/UncontrolledChangelists.json
DaniellePrac3Demo/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.19-00.51.12.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.19-23.16.10.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.20-01.58.00.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.20-02.54.21.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.20-02.56.56.log
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-44BA73E347959EF6A1A636BEE4B1918D/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-7167FA22448F323BDB7869B2F5F79BCC/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-786740E746E6B955EFCB9492E88FB12A/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-CA9866004002CE0B794134A0DF915FAD/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-F146349242C1E72EDA486FAE7CB7461B/CrashReportClient.ini
DaniellePrac3Demo/Content/Models/Covered_Trash_Can/SM_CoveredTrashcan_standardSurface1_Normal.uasset
DaniellePrac3Demo/Content/Models/Covered_Trash_Can/SM_CoveredTrashcan_standardSurface1_BaseColor.uasset
DaniellePrac3Demo/Content/Models/Covered_Trash_Can/SM_CoveredTrashcan_standardSurface1_OcclusionRoughnessMetallic.uasset
DaniellePrac3Demo/Saved/AutoScreenshot.png
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo.log
DaniellePrac3Demo/Saved/Autosaves/Game/Overview_Level_Auto2.umap
DaniellePrac3Demo/Saved/SourceControl/UncontrolledChangelists.json
DaniellePrac3Demo/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.19-00.51.12.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.19-23.16.10.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.20-01.58.00.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.20-02.54.21.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.20-02.56.56.log
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-44BA73E347959EF6A1A636BEE4B1918D/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-7167FA22448F323BDB7869B2F5F79BCC/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-786740E746E6B955EFCB9492E88FB12A/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-CA9866004002CE0B794134A0DF915FAD/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-F146349242C1E72EDA486FAE7CB7461B/CrashReportClient.ini
DaniellePrac3Demo/Content/Models/Covered_Trash_Can/SM_CoveredTrashcan_standardSurface1_Normal.uasset
DaniellePrac3Demo/Content/Models/Covered_Trash_Can/SM_CoveredTrashcan_standardSurface1_BaseColor.uasset
DaniellePrac3Demo/Content/Models/Covered_Trash_Can/SM_CoveredTrashcan_standardSurface1_OcclusionRoughnessMetallic.uasset
DaniellePrac3Demo/Saved/AutoScreenshot.png
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo.log
DaniellePrac3Demo/Saved/Autosaves/Game/Overview_Level_Auto2.umap
DaniellePrac3Demo/Saved/SourceControl/UncontrolledChangelists.json
DaniellePrac3Demo/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.19-00.51.12.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.19-23.16.10.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.20-01.58.00.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.20-02.54.21.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.20-02.56.56.log
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-44BA73E347959EF6A1A636BEE4B1918D/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-7167FA22448F323BDB7869B2F5F79BCC/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-786740E746E6B955EFCB9492E88FB12A/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-CA9866004002CE0B794134A0DF915FAD/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-F146349242C1E72EDA486FAE7CB7461B/CrashReportClient.ini
DaniellePrac3Demo/Content/Models/Covered_Trash_Can/SM_CoveredTrashcan_standardSurface1_Normal.uasset
DaniellePrac3Demo/Content/Models/Covered_Trash_Can/SM_CoveredTrashcan_standardSurface1_BaseColor.uasset
DaniellePrac3Demo/Content/Models/Covered_Trash_Can/SM_CoveredTrashcan_standardSurface1_OcclusionRoughnessMetallic.uasset
DaniellePrac3Demo/Saved/AutoScreenshot.png
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo.log
DaniellePrac3Demo/Saved/Autosaves/Game/Overview_Level_Auto2.umap
DaniellePrac3Demo/Saved/SourceControl/UncontrolledChangelists.json
DaniellePrac3Demo/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.19-00.51.12.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.19-23.16.10.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.20-01.58.00.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.20-02.54.21.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.20-02.56.56.log
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-44BA73E347959EF6A1A636BEE4B1918D/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-7167FA22448F323BDB7869B2F5F79BCC/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-786740E746E6B955EFCB9492E88FB12A/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-CA9866004002CE0B794134A0DF915FAD/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-F146349242C1E72EDA486FAE7CB7461B/CrashReportClient.ini
DaniellePrac3Demo/Content/Models/Covered_Trash_Can/SM_CoveredTrashcan_standardSurface1_Normal.uasset
DaniellePrac3Demo/Content/Models/Covered_Trash_Can/SM_CoveredTrashcan_standardSurface1_BaseColor.uasset
DaniellePrac3Demo/Content/Models/Covered_Trash_Can/SM_CoveredTrashcan_standardSurface1_OcclusionRoughnessMetallic.uasset
DaniellePrac3Demo/Saved/AutoScreenshot.png
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo.log
DaniellePrac3Demo/Saved/Autosaves/Game/Overview_Level_Auto2.umap
DaniellePrac3Demo/Saved/SourceControl/UncontrolledChangelists.json
DaniellePrac3Demo/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.19-00.51.12.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.19-23.16.10.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.20-01.58.00.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.20-02.54.21.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.20-02.56.56.log
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-44BA73E347959EF6A1A636BEE4B1918D/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-7167FA22448F323BDB7869B2F5F79BCC/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-786740E746E6B955EFCB9492E88FB12A/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-CA9866004002CE0B794134A0DF915FAD/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-F146349242C1E72EDA486FAE7CB7461B/CrashReportClient.ini
DaniellePrac3Demo/Content/Models/Covered_Trash_Can/SM_CoveredTrashcan_standardSurface1_Normal.uasset
DaniellePrac3Demo/Content/Models/Covered_Trash_Can/SM_CoveredTrashcan_standardSurface1_BaseColor.uasset
DaniellePrac3Demo/Content/Models/Covered_Trash_Can/SM_CoveredTrashcan_standardSurface1_OcclusionRoughnessMetallic.uasset
DaniellePrac3Demo/Saved/AutoScreenshot.png
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo.log
DaniellePrac3Demo/Saved/Autosaves/Game/Overview_Level_Auto2.umap
DaniellePrac3Demo/Saved/SourceControl/UncontrolledChangelists.json
DaniellePrac3Demo/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.19-00.51.12.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.19-23.16.10.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.20-01.58.00.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.20-02.54.21.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.10.20-02.56.56.log
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-44BA73E347959EF6A1A636BEE4B1918D/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-7167FA22448F323BDB7869B2F5F79BCC/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-786740E746E6B955EFCB9492E88FB12A/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-CA9866004002CE0B794134A0DF915FAD/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-F146349242C1E72EDA486FAE7CB7461B/CrashReportClient.ini
DaniellePrac3Demo/Content/Models/Covered_Trash_Can/SM_CoveredTrashcan_standardSurface1_Normal.uasset
DaniellePrac3Demo/Content/Models/Covered_Trash_Can/SM_CoveredTrashcan_standardSurface1_BaseColor.uasset
DaniellePrac3Demo/Content/Models/Covered_Trash_Can/SM_CoveredTrashcan_standardSurface1_OcclusionRoughnessMetallic.uasset
