DaniellePrac3Demo/Saved/SourceControl/UncontrolledChangelists.json
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.09.11-19.30.08.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.09.09-21.00.47.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.09.09-02.39.12.log
DaniellePrac3Demo/Saved/Logs/DaniellePrac3Demo-backup-2025.09.08-04.27.58.log
DaniellePrac3Demo/Saved/Config/WorldState/3809558563.json
DaniellePrac3Demo/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-FFE72C5E454C7A06782802A6815741CE/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-27D0703847262E6B1E6CB3A8B6EA24BC/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-263DD2C94421A3E703AD8793D6960B4D/CrashReportClient.ini
DaniellePrac3Demo/Saved/Config/CrashReportClient/UECC-Windows-013B315B4D76EDE651AD1FAEA3FB0743/CrashReportClient.ini
DaniellePrac3Demo/Saved/AutoScreenshot.png
DaniellePrac3Demo/Saved/Autosaves/Game/Overview_Level_Auto7.umap
DaniellePrac3Demo/Saved/Autosaves/Game/Overview_Level_Auto6.umap
DaniellePrac3Demo/Saved/Autosaves/Game/Overview_Level_Auto5.umap
DaniellePrac3Demo/Saved/Autosaves/Game/Overview_Level_Auto4.umap
DaniellePrac3Demo/Saved/Autosaves/Game/Overview_Level_Auto3.umap
DaniellePrac3Demo/Saved/Autosaves/Game/Overview_Level_Auto1.umap
DaniellePrac3Demo/Saved/Autosaves/Game/Overview_Level_Auto0.umap
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/T_Sm_Switch_R_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/T_Sm_Switch_N_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/T_Sm_Switch_M_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/T_Sm_Switch_H_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/T_Sm_Switch_E_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Sm_LightSwitch_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Red_switch_-_Flat-/T_Sm_Switch_R_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Red_switch_-_Flat-/T_Sm_Switch_O_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Red_switch_-_Flat-/T_Sm_Switch_N_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Red_switch_-_Flat-/T_Sm_Switch_M_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Red_switch_-_Flat-/T_Sm_Switch_H_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Red_switch_-_Flat-/T_Sm_Switch_E_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Red_switch_-_Flat-/T_Sm_Switch_D_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Red_switch_-_Flat-/T_Sm_Switch_AO_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Red_switch/T_Sm_Switch_R_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Red_switch/T_Sm_Switch_O_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Red_switch/T_Sm_Switch_N_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Red_switch/T_Sm_Switch_M_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Red_switch/T_Sm_Switch_H_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Red_switch/T_Sm_Switch_E_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Red_switch/T_Sm_Switch_D_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Red_switch/T_Sm_Switch_AO_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Purple_switch_-Flat-/T_Sm_Switch_R_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Purple_switch_-Flat-/T_Sm_Switch_O_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Purple_switch_-Flat-/T_Sm_Switch_N_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Purple_switch_-Flat-/T_Sm_Switch_M_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Purple_switch_-Flat-/T_Sm_Switch_H_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Purple_switch_-Flat-/T_Sm_Switch_E_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Purple_switch_-Flat-/T_Sm_Switch_D_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Purple_switch_-Flat-/T_Sm_Switch_AO_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Purple_switch/T_Sm_Switch_R_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Purple_switch/T_Sm_Switch_O_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Purple_switch/T_Sm_Switch_N_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Purple_switch/T_Sm_Switch_M_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Purple_switch/T_Sm_Switch_H_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Purple_switch/T_Sm_Switch_E_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Purple_switch/T_Sm_Switch_D_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Purple_switch/T_Sm_Switch_AO_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Green_switch_-Flat-/T_Sm_Switch_R_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Green_switch_-Flat-/T_Sm_Switch_O_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Green_switch_-Flat-/T_Sm_Switch_N_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Green_switch_-Flat-/T_Sm_Switch_M_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Green_switch_-Flat-/T_Sm_Switch_H_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Green_switch_-Flat-/T_Sm_Switch_E_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Green_switch_-Flat-/T_Sm_Switch_D_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Green_switch_-Flat-/T_Sm_Switch_AO_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Green_switch/T_Sm_Switch_R_Raw_ACEScg_png_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Green_switch/T_Sm_Switch_R_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Green_switch/T_Sm_Switch_O_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Green_switch/T_Sm_Switch_N_Raw_ACEScg_png_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Green_switch/T_Sm_Switch_N_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Green_switch/T_Sm_Switch_M_Raw_ACEScg_png_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Green_switch/T_Sm_Switch_M_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Green_switch/T_Sm_Switch_H_Raw_ACEScg_png_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Green_switch/T_Sm_Switch_H_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Green_switch/T_Sm_Switch_E_sRGB_ACEScg_png_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Green_switch/T_Sm_Switch_E_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Green_switch/T_Sm_Switch_D_sRGB_ACEScg_png_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Green_switch/T_Sm_Switch_D_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Green_switch/T_Sm_Switch_AO_Raw_ACEScg_png_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/Green_switch/T_Sm_Switch_AO_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Switch/aiStandardSurface2_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Standing_Lamp/standardSurface1_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Standing_Lamp/Sm_StandingLamp_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Standing_Lamp/New_folder/T_Standinglamp_R_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Standing_Lamp/New_folder/T_Standinglamp_O_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Standing_Lamp/New_folder/T_Standinglamp_N_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Standing_Lamp/New_folder/T_Standinglamp_M_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Standing_Lamp/New_folder/T_Standinglamp_H_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Standing_Lamp/New_folder/T_Standinglamp_E_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Standing_Lamp/New_folder/T_Standinglamp_D_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Small_Trashcan/standardSurface1_Auto1.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Small_Trashcan/SM_SmallTrashcan_standardSurface1_OcclusionRoughnessMetallic_Auto1.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Small_Trashcan/SM_SmallTrashcan_standardSurface1_Normal_Auto1.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Small_Trashcan/SM_SmallTrashcan_standardSurface1_BaseColor_Auto1.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Small_Trashcan/SM_SmallTrashCan_Auto8.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Small_Trashcan/SM_SmallTrashcan_Auto1.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Small_Trashcan/Screenshot_2025-09-21_021812_Auto1.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Shelf/standardSurface1_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Shelf/Sm_Shelf_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Shelf/Shelf_textures/T_Shelf_R_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Shelf/Shelf_textures/T_Shelf_N_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Shelf/Shelf_textures/T_Shelf_M_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Shelf/Shelf_textures/T_Shelf_H_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Shelf/Shelf_textures/T_Shelf_E_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Shelf/Shelf_textures/T_Shelf_D_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Shelf/Shelf_textures/T_Shelf_AO_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Pot2/standardSurface1_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Pot2/Rough_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Pot2/RGB_Steel_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Pot2/RGB_Copper_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Pot2/RGB_Cobalt_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Pot2/Pot2_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Pot2/Metal_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Pot1/standardSurface1_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Pot1/Rough_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Pot1/RGB_Steel_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Pot1/RGB_Copper_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Pot1/RGB_Cobalt_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Pot1/Pot1_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Pot1/Metal_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Plate4/standardSurface1_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Plate4/Rough_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Plate4/RGB_Pink_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Plate4/RGB_Grey_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Plate4/RGB_Blue_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Plate4/RGB_Black_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Plate4/Plate4_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Plate3/standardSurface1_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Plate3/Rough_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Plate3/RGB_Pink_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Plate3/RGB_Grey_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Plate3/RGB_Blue_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Plate3/RGB_Black_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Plate3/Plate3_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Plate2/standardSurface1_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Plate2/Rough_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Plate2/RGB_Pink_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Plate2/RGB_Grey_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Plate2/RGB_Blue_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Plate2/RGB_Black_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Plate2/Plate2_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Plate1/standardSurface1_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Plate1/Rough_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Plate1/RGB_Pink_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Plate1/RGB_Grey_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Plate1/RGB_Blue_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Plate1/RGB_Black_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Plate1/Plate1_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Pan1/standardSurface1_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Pan1/Rough_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Pan1/RGB_Steel_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Pan1/RGB_Copper_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Pan1/RGB_Cobalt_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Pan1/Pan1_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Pan1/Metal_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Outlets/standardSurface1_Auto1.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Outlets/SM_Outlet2_standardSurface1_OcclusionRoughnessMetallic_Auto1.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Outlets/SM_Outlet2_standardSurface1_Normal_Auto1.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Outlets/SM_Outlet2_standardSurface1_BaseColor_Auto1.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Outlets/SM_Outlet2_Auto1.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Outlets/SM_Outlet1_standardSurface1_OcclusionRoughnessMetallic_Auto1.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Outlets/SM_Outlet1_standardSurface1_Normal_Auto1.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Outlets/SM_Outlet1_standardSurface1_BaseColor_Auto1.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Outlets/SM_Outlet1_Auto1.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Outlets/Screenshot_2025-09-21_021838_Auto1.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Outlets/M_Outlet2_Auto8.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Outlets/M_Outlet1_Auto8.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Mug3/standardSurface1_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Mug3/Rough_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Mug3/RGB_Grey_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Mug3/RGB_Blue_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Mug3/RGB_Black_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Mug3/Mug3_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Mug2/standardSurface1_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Mug2/Rough_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Mug2/RGB_Grey_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Mug2/RGB_Blue_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Mug2/RGB_Black_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Mug2/Mug2_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Mug1/standardSurface1_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Mug1/Rough_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Mug1/RGB_Grey_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Mug1/RGB_Blue_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Mug1/RGB_Black_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Mug1/Mug1_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Mirror/Textures/T_Mirror_R_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Mirror/Textures/T_Mirror_O_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Mirror/Textures/T_Mirror_N_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Mirror/Textures/T_Mirror_M_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Mirror/Textures/T_Mirror_H_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Mirror/Textures/T_Mirror_E_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Mirror/Textures/T_Mirror_D_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Mirror/Textures/T_Mirror_AO_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Mirror/standardSurface1_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Mirror/Sm_mirror_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Mirror/M_Mirror_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Grinder/standardSurface1_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Grinder/Rough_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Grinder/RGB_Salt_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Grinder/RGB_Pepper_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Grinder/Grinder_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Fence/Sm_Fence_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Fence/Fence_Textures/T_Sm_Fence_R_Raw_ACEScg_png_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Fence/Fence_Textures/T_Sm_Fence_R_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Fence/Fence_Textures/T_Sm_Fence_O_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Fence/Fence_Textures/T_Sm_Fence_N_Raw_ACEScg_png_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Fence/Fence_Textures/T_Sm_Fence_N_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Fence/Fence_Textures/T_Sm_Fence_M_Raw_ACEScg_png_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Fence/Fence_Textures/T_Sm_Fence_M_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Fence/Fence_Textures/T_Sm_Fence_H_Raw_ACEScg_png_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Fence/Fence_Textures/T_Sm_Fence_H_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Fence/Fence_Textures/T_Sm_Fence_E_sRGB_ACEScg_png_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Fence/Fence_Textures/T_Sm_Fence_E_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Fence/Fence_Textures/T_Sm_Fence_D_sRGB_ACEScg_png_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Fence/Fence_Textures/T_Sm_Fence_D_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Fence/Fence_Textures/T_Sm_Fence_AO_Raw_ACEScg_png_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Fence/Fence_Textures/T_Sm_Fence_AO_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Fence/aiStandardSurface1_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Dining_Table/standardSurface1_Auto1.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Dining_Table/SM_DiningTable_standardSurface1_OcclusionRoughnessMetallic_Auto1.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Dining_Table/SM_DiningTable_standardSurface1_Normal_Auto1.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Dining_Table/SM_DiningTable_standardSurface1_BaseColor_Auto1.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Dining_Table/SM_DiningTable_Auto1.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Dining_Table/Screenshot_2025-09-21_021935_Auto1.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Dining_Table/M_DiningTable_Auto8.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Dining_Chair/standardSurface1_Auto1.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Dining_Chair/SM_DiningChair_standardSurface1_OcclusionRoughnessMetallic_Auto1.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Dining_Chair/SM_DiningChair_standardSurface1_Normal_Auto1.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Dining_Chair/SM_DiningChair_standardSurface1_BaseColor_Auto1.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Dining_Chair/SM_DiningChair_Auto1.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Dining_Chair/Screenshot_2025-09-21_022119_Auto1.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Dining_Chair/M_DiningChair_Auto8.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Dining_Chair/Dining_Chair_Auto1.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/CutBoard/standardSurface1_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/CutBoard/Rough_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/CutBoard/RGB_Alpha_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/CutBoard/Height_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/CutBoard/CutBoard_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Cup2/standardSurface1_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Cup2/Rough_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Cup2/RGB_Yellow_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Cup2/RGB_Grey_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Cup2/RGB_Blue_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Cup2/Cup2_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Cup1/standardSurface1_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Cup1/Rough_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Cup1/RGB_Yellow_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Cup1/RGB_Grey_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Cup1/RGB_Blue_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Cup1/Cup1_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Bowl5/standardSurface1_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Bowl5/Rough_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Bowl5/RGB_Yellow_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Bowl5/RGB_Purple_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Bowl5/RGB_Blue_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Bowl5/Bowl5_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Bowl4/standardSurface1_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Bowl4/Rough_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Bowl4/RGB_Yellow_Mat_Auto7.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Bowl4/RGB_Yellow_Mat_Auto6.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Bowl4/RGB_Yellow_Mat_Auto5.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Bowl4/RGB_Yellow_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Bowl4/RGB_Purple_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Bowl4/RGB_Blue_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Bowl4/Bowl4_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Bowl3/standardSurface1_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Bowl3/Rough_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Bowl3/RGB_Yellow_Mat_Auto7.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Bowl3/RGB_Yellow_Mat_Auto6.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Bowl3/RGB_Yellow_Mat_Auto5.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Bowl3/RGB_Yellow_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Bowl3/RGB_purple_Mat_Auto7.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Bowl3/RGB_purple_Mat_Auto6.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Bowl3/RGB_purple_Mat_Auto5.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Bowl3/RGB_purple_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Bowl3/RGB_Blue_Auto2.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Bowl3/M_Bowl3_C_Auto7.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Bowl3/M_Bowl3_C_Auto6.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Bowl3/M_Bowl3_C_Auto5.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Bowl3/M_Bowl3_B_Auto7.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Bowl3/M_Bowl3_B_Auto6.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Bowl3/M_Bowl3_B_Auto5.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Bowl3/M_Bowl3_A_Auto7.uasset
DaniellePrac3Demo/Saved/Autosaves/Game/Models/Bowl3/M_Bowl3_A_Auto6.uasset
